
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><center>YOUR PROFIL...</center></h1>


    <p> WELCOM
    <%=current_user.first_name%> <%=current_user.last_name%></p></br>

      <p>What about YOU:</p>
       <%=current_user.description%></br></br>

       <p>Your mail Adress:
       <%=current_user.email%></p>


  </body>
</html>

<p>Find me in app/views/users/show.html.erb</p>
